body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Merriwether", Georgia, "Times New Roman", Times, serif;
  font-size: 3.052rem;
  font-weight: 700;
  color: 534a9c;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Merriwether", Georgia, "Times New Roman", Times, serif;
  font-size: 2.441rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
p {
  font-family: "Merriwether", Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.33em;
}
.main-p {
  width: 80vw;
}
figcaption {
  font-family: "Merriwether", Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
ul {
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ol {
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
h3 {
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 1.953rem;
  color: white;
  opacity: 0.5;
  margin: 0;
  padding: 40px 0px 10px;
}
.lists {
  background-color: rgb(79, 137, 166);
  color: white;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  border-radius: 1em;
}
.favorite-link {
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}
nav {
  color: #000000;
}
.nav {
  color: #ffffff;
  text-decoration: none;
}
footer {
  background-color: rgba(79, 137, 166, 0.3);
  margin: 0;
  padding: 40px;
  clear: both;
}
.footer {
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}
header {
  background-color: rgba(79, 137, 166, 0.3);
  color: #000000;
  margin: 0;
  padding: 40px;
}
blockquote {
  text-align: right;
}
.quote {
  font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: #4a969c;
  font-size: 3rem;
  padding: 40px;
}
.quotee {
  font-size: 1.25rem;
  font-weight: 500;
  color: #333;
}
a:link {
  text-decoration: none;
  color: 458a96;
}
a:visited {
  text-decoration: none;
  color: 4f5da6;
}
.photo-1 {
  border: 10px;
  border-style: solid;
  border-color: rgba(83, 74, 156, 0.5);
  float: left;
}
.photo-2 {
  border: 10px;
  border-style: solid;
  border-color: rgba(83, 74, 156, 0.5);
  float: left;
}
.photo-3 {
  border: 10px;
  border-style: solid;
  border-color: rgba(83, 74, 156, 0.5);
  float: left;
}
.ex-image {
  width: 25rem;
}
